@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:wght@300;400;900&display=swap");

html body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: #fcfcfc;
  position: relative;
  top: 0;
}

header {
  align-items: center;
  background: #fcfcfc;
  box-shadow: 2px 2px 2px #000;
  display: flex;
  height: 60px;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 30px;
}

header h1 {
  margin: 0;
  position: relative;
}

header h1>img {
  margin-top: 5px;
  max-height: 50px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul>li {
  margin: 0 5px;
}

header nav ul>li>a {
  font-family: 'Graduate';
  color: #212121;
  font-size: 18px;
  padding: 6px 20px;
  text-decoration: none;
}

header nav ul>li>a:hover {
  background-color: #494949;
}

.hamburger {
  display: none;
}
h2 {
   
  font-family: 'Graduate';
}

h2:not(.slider-title) {
  display: flex;
  justify-content: center;
  color: #212121;
  font-size: 30px;
  font-weight: 900;
  padding: 0 calc(43% - 130px);
  position: relative;
}

.cards {
  margin-bottom: 60px;
  padding: 30px 60px;
}

.cards .grid {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.cards article {
  font-family: 'Montserrat';
  background: #494949;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fcfcfc;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  overflow: hidden;
  padding: 3px 30px;
}

.cards article span {
  font-weight: bold;
  color: #fcfcfc;
}

a {
  text-decoration: none;
  color: #fcfcfc;
 }
 

.rodape {
  background: #000;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 10;
}

.rodape img {
  left: 45%;
  max-width: 110px;
  position: absolute;
  top: 5px;
}

.rodape .legend {
  font-family: 'Graduate';
  color: #fcfcfc;
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  margin: 20px;
  padding-right: 30px;
}

.container-form {
  display: inline-block;
  margin-left: 35%;

}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button{
  font-family: sans-serif;
  font-size: 1em;
  color: #494949;
  border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
  display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
  clear: both;
}

/* Elementos de classe "campo" */
.campo{
  margin-bottom: 1em;
  
 ;
}

/* Elementos de classe "campo" de tag <label> */
.campo label{
  margin-bottom: 0.2em;
  color: #494949;
  display: flex;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
.grupo .campo{
  float: left;
  margin-right: 1em;

}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type = "text"], .campo input[type = "email"], .campo select, .campo textarea{
  padding: 0.2em;
  border: 1px solid #494949;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option{
  padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus{
  background: #FCFCFC;
}

/* Elemento de classe "botao" *//* Elemento de classe "botao" */
.botao{
  font-size: 1.2em;
  background: #494949;
  border:0;
  margin-bottom: 1em;
  color: #FCFCFC;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 30%;
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover{
  background: #212121;;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
  cursor: pointer;
}

.slider {
  height: calc(100vh - 120px);
  background: cyan;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider .slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  width: 400px;
  position: absolute;
  transition: all 1s ease-in-out; 
}


.slider .slider-list .slider-item {
  width: 100%;
  height: 130px;
  background-color: #fcfcfc;
  border-radius: 2px;
  margin: 2px;
  display: flex;
  align-items: center;
}

.slider .slider-list .slider-item img {
  position: relative;
  width: 130px;
  min-width: 130px;
}

.slider .slider-list .slider-item .legenda {
  position: relative;
}

.slider .slider-list .slider-item .legenda h2, 
.slider .slider-list .slider-item .legenda p
{
  color: #212121;
}

.slider .slider-list .slider-item .legenda h2 {
  font-size: 24px;
}

.slider .slider-list .slider-item .legenda p {
  font-size: 14px;
}

.slider .highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider img {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  left: 0;
}

.highlight .legenda {
  position: absolute;
  width: 40%;
  bottom: 40px;
  left: 100px;
  display: flex;
  flex-direction: column;
  color: #FFF;
}


.legenda p, .legenda * {
  text-align: left;
  margin: 4px 0;
}

.legenda .slider-title {
  font-size: 40px;
}

.legenda .category {
  font-size: 10px;
  width: 30%;
  padding: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.category.orange {
  background-color: #ff6600;
}

.legenda {
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
}


.materia{
width: 650px;
margin: 40px auto;

}

.materia img{
  width: 100%;
}

.materia .materia-escrita{
  line-height: 1.5;
  margin-bottom: 16px;
}

.materia .materia-escrita:last-child{
  margin-bottom: 100px;
}

.container-audio{
  background-color: #494949;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 10px;
}

audio{
 width: 100%;
}

.fonte-materia{
  font-family: 'Graduate';
  font-size: 10px;
  text-align: center;
  margin-bottom: 100px;
  padding: 5px;
  background-color: #494949;
  border-radius: 10px;
  width: 20%;
  float:right;
  }

  .materia-title{
    padding-left: o;
  }
